chapter 2 world alcohol consumption data

In [ ]:
import pandas as pd
drinks = pd.read_csv('drinks.csv')
print(drinks)

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [ ]:
drinks['continent'].describe()

count     170
unique      5
top        AF
freq       53
Name: continent, dtype: object

In [ ]:
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

In [ ]:
drinks['total_litres_of_pure_alcohol'].describe()

count    193.000000
mean       4.717098
std        3.773298
min        0.000000
25%        1.300000
50%        4.200000
75%        7.200000
max       14.400000
Name: total_litres_of_pure_alcohol, dtype: float64

In [ ]:
drinks['wine_servings'].describe()

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

chapter 2 measure of cente

In [ ]:
import numpy
results = [5, 4, 3, 4, 5, 3, 2, 5, 3, 2, 1, 4, 5, 3, 4, 4, 5, 4, 2, 1,
4, 5, 4, 3, 2, 4, 4, 5, 4, 3, 2, 1]
sorted_results = sorted(results)
print(sorted_results)
print(numpy.mean(results)) #mean
print(numpy.median(results)) #median

[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5]
3.4375
4.0

chapter 2 standard deviation

In [ ]:
import numpy
temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]
print(numpy.mean(temps))
print(numpy.median(temps))

30.733333333333334
31.0

In [ ]:
mean = numpy.mean(temps)
squared_differences_list = []
for temperature in temps:
  difference = temperature - mean
  squared_difference = difference**2
  squared_differences_list.append(squared_difference)
average_squared_difference = numpy.mean(squared_differences_list)
standard_deviation = numpy.sqrt(average_squared_difference)
print(standard_deviation) #standard deviation

2.5157283018817607

chapter 2 measure of center geometric mean

In [ ]:
import numpy
temps_two = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]
num_items = len(temps_two)
product = 1
for tmp in temps_two:
  product *= tmp
geometric_mean = product**(1.0/num_items)
print(geometric_mean) #geometric mean

30.63473484374659